<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the first webpage of this thing</h1>
    <p>
        These are the current views created:
        <table>
            <tr>
                <th>View</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Submit</td>
                <td><a href="{% url 'submit' %}">Link</a></td>
            </tr>
            <tr>
                <td>Tickets</td>
                <td><a href="{% url 'tickets' %}">Link</a></td>
            </tr>
        </table>
    </p>
</body>
</html>