<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to one of my first webapps</h1>
    <p>Here you will see a basic application as a meeting planner which allows the users to create meetings and assign them to a specific meeting room</p>
    <p>The course I have been following is on <em>Pluralsight</em>, <a href="https://app.pluralsight.com/library/courses/django-getting-started/table-of-contents">here</a></p>
    <p>The following is a message entered as a template variable: {{ message }}</p>
    
</body>
</html>