{% extends 'base.html' %}


{% block title %}
    Meeting: {{ meeting.id }}</title>
{% endblock %}

{% block content %}
    <a href="{% url 'index' %}">Home</a>
    <h1> {{ meeting.title }}</h1>
    <p>
        <div>
            <h3>Schedule</h3>
            <strong>Date: </strong> {{ meeting.date }}<br>
            <strong>Time: </strong> {{ meeting.start_time }}<br>
            <strong>Duration: </strong> {{ meeting.duration }}<br><br>            
        </div>
        <div>
            <h3>Location</h3>
            <strong>Floor: </strong> {{ meeting.room.floor}}<br>
            <strong>Room: </strong> {{ meeting.room.name }}<br>
            <strong>Room number: </strong> {{ meeting.room.room_number }}<br>
        </div>
    </p>
{% endblock %}