<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<style>
    table{
        width: 40%
    }
    th {
        width: 180px,
        text-align: center
    }
    td {
        text-align: center
    }
</style>
<body>
    <a href="{% url 'index' %}">Home</a>
    <h1>Existing rooms</h1>
    <p>
        <table>
            <tr>
                <th>Room</th>
                <th>Floor</th>
                <th>Number</th>
            </tr>
            <tr>
                {% for room in rooms %}
                    <td>{{ room.name }}</td>
                    <td>{{ room.floor }}</td>
                    <td>{{ room.room_number }}</td>
                {% endfor %}
            </tr>
        </table>
    </p>
</body>
</html>